<!DOCTYPE html>
<html>

<%- include('./head') %>

<body>

  <%- include('./header') %>

  <img class="vinyl" src="phonograph.jpg" / />
  <div class="record-review-container">


  <div class="album-list">
    <h1>Records</h1>
    <% albums.forEach(function(album) { %>
      <div>
        <h3><a href="/albums/<%= album.id %>"><%= album.title %></a></h3>
        <h4><%= album.artist %></h4>
      </div>
    <% }) %>
  </div>

  <div class="review-list">
    <h1>Recent Reviews</h1>
    <% reviews.forEach(function(review) { %>
      <div class="review-album-header">
        <h3><a href="/albums/<%= review.album_id %>"><%= review.album.title%></a></h3>
        <h5><%= review.created_at%></h5>
      </div>
      <h5><%= review.body %></h5>
      <div class="review-album-footer">
        <h4>by: <%= review.user.name%></h4>
      </div>
    <% }) %>
  </div>
</div>
</body>
</html>
